<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container-fluid">

      <a class="navbar-brand" href="/welcome"><h2>GetTheLook!</h2></a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item  %> ">
            <a class="nav-link" href="/login"><img src="https://cdn3.iconfinder.com/data/icons/sharp-users-vol-1/32/-_Login_Account_User-64.png" height="28" width="28" /></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>