<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GetTheLook!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <header>
        <%- include('./partials/navbar', {current: `formProductos`}) %>
    </header>
    <div class="bg-light mt-5 py-5 mx-5">
        <div class="container">
        <div class="cart-board mt-5 py-5 px-5">
            <h2>Chat center 💬</h2>
            <div class="chat-message clearfix">
                <p>Notificaciones:</p>
                <span id="serverNotification" style="color:rgb(216, 23, 187); font-size: 1em;"></span>
            </div>
            <br>
            <div id="plist" class="people-list">
                <b>Usuarios conectados</b>
                <ul class="list-unstyled chat-list mt-2 mb-0" id="usersList">
                </ul>
            </div>
        </div>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-lg-8">
                            <div class="card chat-app">
                                <div id="plist" class="people-list">
                                    <ul class="list-unstyled chat-list mt-2 mb-0" id="usersList">
                                    </ul>
                                </div>
                                <div class="chat">
                                    <div class="chat-history">
                                        <ul class="m-b-0" id="messagesContainer"></ul>
                                    </div>
                                        <div class="input-group mb-0">
                                            <input id="messageInput" minlength="3" type="text" class="form-control"
                                                placeholder="Escriba su mensaje aqui">
                                            <div class="input-group-prepend">
                                                <button id="sendMessage" class="input-group-text">
                                                    <i class="fa fa-send"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <footer>
        <%- include('./partials/footer') %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./chat.js"></script>
</body>

</html>