<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GetTheLook!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <section class="vh-100 gradient-custom attention">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class=" col-12 col-md-8 col-lg-6 col-xl-12">
                    <div class="board cart-board" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h3>👋 Hasta pronto <%= userLogout %>. Gracias por utilizar la app!
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>